
<!DOCTYPE html>
<html lang="en">

{% load static %}

 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="{% static 'img/fav-icon.jpg' %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Rival Insight</title>

        <!-- Icon css link -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/icofont.css' %}" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/animate-css/animate.css' %}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="{% static 'vendors/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/owl-carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="90">


    <!--================Header Area =================-->
    <header class="dash_tp_menu_area">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo here -->
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/dash-logo.jpg' %}" alt="" width="85px" height="40px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#about">About</a></li>
                    <li><a href="#feature">Features</a></li>
                    <li><a href="#screenshot">Screenshot</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="get_free_btn"><a href="#">Get Free Try</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </header>
    <!--================End Header Area =================-->


    <div class="container" style="margin-top: 100px;    text-align: justify;
    text-justify: inter-word; margin-bottom: 40px;">

        <h1>Author Privacy Statement</h1>
        <p>This privacy statement addresses the personally identifiable information (<strong>&ldquo;data&rdquo;</strong>) that we collect and process about individual authors of online content (<strong>&ldquo;Author&rdquo;</strong>,&nbsp;<strong>&ldquo;you&rdquo;</strong>&nbsp;or&nbsp;<strong>&ldquo;your&rdquo;</strong>) through the services that we offer to our customers. Basically, if you publish public information on publicly available websites (Twitter, facebook, etc.), you&rsquo;re an Author for purposes of this privacy statement.</p>
        <h2>1. General</h2>
        <p>1.1. We crawl and index publicly available information (including data) from the Internet. We also contract directly with third party providers to gain access to their information (including data). In each case, the information that we have access to is published or made available by Authors. This information is then collected and stored in our database. We offer access to the analytics of the data within that database, to third parties (our&nbsp;<strong>&ldquo;Services&rdquo;</strong>).</p>
        <p>1.2. Since all of the information that we access is publicly available, the raw information we have about you could be found by anybody with access to the Internet. Some of this information is personal data. For example your name or username in connection with your Twitter or Facebook profile would be personal data. Other information we process may not be personal data (for example if you publish an anonymous review on a website).</p>
        <p>1.3. As an Author, you are the source of the data. You have control over that data within the platform you choose to publish it on (e.g. Twitter or Facebook), including through using the privacy settings made available to you by that platform. In addition to whatever rights you have via your relationship with any publishing platform, you also have certain rights relating to your data that we process, as set out in this Privacy Statement.</p>
        <h2>2. Information we collect about you</h2>
        <p>2.1. The data we collect varies depending on the source of the data, what the source or platform chooses to make available to us, plus what you choose to make available. It could include the following:</p>
        <ol>
            <li>your name, username, handle, or other identifier;</li>
            <li>the content of the information you have published via that name, username, handle, or other identifier, including comments, expressions, opinions, posts, etc.;</li>
            <li>your profile picture or other images or videos that you post or interact with;</li>
            <li>your job title or profession (including category of profession, for example &ldquo;journalist&rdquo;;</li>
            <li>your interests;</li>
            <li>your location;</li>
            <li>your gender; and</li>
            <li>any other information you publish on an Internet website we crawl or on a third party platform that provides us with data.</li>
        </ol>
        <p>2.2. In addition to the data you make available about yourself, we may also use that information to infer other data about you. For example, based on your name, we may infer your gender. Equally, based on the content of one of your posts, we may infer some of your interests, your profession, your location, etc.</p>
        <p>2.3. We may also analyze the content of the data you publish and provide our analysis to our customers. For example, if you publish a Tweet stating that you like a certain brand&rsquo;s ice cream, we may mark that Tweet as having a positive sentiment toward that brand.</p>
        <h2>3. Using your data</h2>
        <p>3.1. The legal basis for the data that we process is pursuant to our legitimate interests. Our legitimate interests are in providing our Services to our customers, which includes providing technology that empowers our customers to act with more certainty in a way that is easy-to-access and use. In turn, this allows our customers to learn more about their brand, their customers, their competitors, and other information available on the social web that is relevant to our customers.</p>
        <p>3.2. We also use the data in ways related to, but ancillary, to the Services that we offer. For example, we may use the data to comply with our legal obligations or enforce our rights, including the legal obligations or enforcement of rights of third parties. We may also use the data to improve our Services.</p>
        <p>3.3. Although it is the responsibility of our customers to use our Services properly, we do put in place safeguards to protect your data. We require our customers to comply with applicable law, including data privacy law, when using our Services. We also prohibit our customers from using our Services, including your data, in a way that is outside of your reasonable expectations.</p>
        <p>3.4. When we infer data about you, we do so automatically. The inferences are based on algorithms that analyze the data that you have posted. We only make the data available to our customers. It is up to our customers what to do with the data and any inferences about the data.</p>
        <h2>4. Sharing your data</h2>
        <p>4.1. In addition to sharing your data with our customers, we may share your data with any member of our company group (i.e. our subsidiaries, parent companies, and affiliates).</p>
        <p>4.2. We may share your data with selected third parties, including our business partners, suppliers, and sub-contractors, for the performance of any contract we enter into with them. We may also share your data with analytics and search engine providers that assist us in the improvement of our website.</p>
        <p>4.3. We may also disclose your data to other third parties. For example, if we sell or buy any business or assets, we may disclose your data to the prospective seller or buyer of such business or assets. Alternatively, if we or substantially all of our assets are acquired by a third party, your data may be part of the transferred assets.</p>
        <p>4.4. If any third party processes any of your data, we ensure there are sufficient contractual and operational safeguards protecting your data.</p>
        <h2>5. Accuracy and retention</h2>
        <p>5.1. Most of the data we have about you comes directly from you. If it is inaccurate, we advise you to fix it on the original platform in which you published that data. Where we infer data about you, it is our aim to ensure that any of this additional data is accurate and kept up to date.</p>
        <p>5.2. We will retain any data about you for as long as it is reasonably necessary for us to provide the Services.</p>
        <h2>6. Storage, security and your rights</h2>
        <p>6.1. The servers in which we hold your data have appropriate administrative, technical, and physical controls that are designed to safeguard your data.</p>
        <p>6.2. You have a number of legal rights in your data under applicable data privacy law. Under applicable law you may:</p>
        <ol>
            <li>request access to the data that we have about you and request that it be updated, rectified, deleted, or blocked; or</li>
            <li>request that we refrain from further use of any data we hold about you.</li>
        </ol>
        <p>6.5. Please note that we cannot always delete records of all historical data. For example, we are required to retain certain records for financial reporting and compliance reasons.</p>
        <h2>7. Privacy practices of third parties</h2>
        <p>7.1. This privacy statement only addresses our collection, processing, and use (including disclosure) of your data. Our customers and other third parties that may have access to your data can use it in other ways in accordance with their own privacy practices and applicable law. We encourage you to familiarize yourself with the privacy statements provided by any platform you use to publish any information.</p>
        <h2>8. Governing law and jurisdiction</h2>
        <p>8.1. English law governs this privacy statement and any dispute or claim related to it. Each party agrees that the English courts have exclusive jurisdiction over this privacy statement and any dispute or claim related to it.</p>
        <p><strong>Last updated 9 September 2018</strong></p>
        <p>&nbsp;</p>

        </div>   


        <!--================Footer Area =================-->
        <footer class="pink_footer">
            <div class="pink_footer_wedget_area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1 col-xs-6">
                            <aside class="f_widget p_menu_widget">
                                <div class="p_f_w_title">
                                    <h3>Resources</h3>
                                </div>
                                <ul>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#features">Features</a></li>
                                    <li><a href="#screenshot">Look in Dashboard</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Case studies</a></li>
                                    <li><a href="#">Guides</a></li>
                                    
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-2 col-md-offset-1 col-xs-6">
                            <aside class="f_widget p_support_widget">
                                <div class="p_f_w_title">
                                    <h3>Company</h3>
                                </div>
                                <ul>
                                    
                                    <li><a href="#">Help & Support</a></li>
                                    <li><a href="#">Getting Started FAQ</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="{% url 'TermsConditions' %}">Terms and Conditions</a></li>
                                    <li><a href="{% url 'UserPrivacyPolicy' %}">User Privacy Policy</a></li>
                                    <li><a href="{% url 'AuthorPrivacyPolicy' %}">Author privacy policy</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-3 col-md-offset-1 col-xs-6">
                            <aside class="f_widget p_contact_widget">
                                <div class="p_f_w_title">
                                    <h3>Contact information</h3>
                                </div>
                                <ul class="contact_info">
                                    <li>Phone  :<a href="#"> +92 335 1758820</a></li>
                                    <!-- <li>E-mail  :<a href="#"> <span class="__cf_email__" data-cfemail="b4d1ccd5d9c4d8d19a868485f4d0dbd9d5ddda9ad7dbd9">[email&#160;protected]</span></a></li> -->
                                    <li>Address  :<a href="#"> H12, <span>Islamabad, Pakistan</span></a></li>
                                </ul>
                                <ul class="pink_social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="pink_copyright">
                <div class="container">
                    <div class="pull-left">
                        <a href="#"><img src="img/dash-logo.png" alt="" width="80px" height="50px"></a>
                    </div>
                    <div class="pull-right">
                    </div>
                </div>
            </div> -->
        </footer>
        <!--================End Footer Area =================-->
        
       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script src="{% static 'js/jquery-2.2.4.js' %}"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="{% static 'js/bootstrap.min.js' %}"></script>
       <!-- Rev slider js -->
        
       <script src="{% static 'js/theme.js' %}"></script>



    </body>

</html>