<!DOCTYPE html>
<html lang="en">

{% load static %}

 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="{% static 'img/fav-icon.jpg' %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Rival Insight</title>

        <!-- Icon css link -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/icofont.css' %}" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/animate-css/animate.css' %}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="{% static 'vendors/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/owl-carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="90">


    <!--================Header Area =================-->
    <header class="dash_tp_menu_area">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo here -->
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/dash-logo.jpg' %}" alt="" width="85px" height="40px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#about">About</a></li>
                    <li><a href="#feature">Features</a></li>
                    <li><a href="#screenshot">Screenshot</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="get_free_btn"><a href="#">Get Free Try</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </header>
    <!--================End Header Area =================-->


    <div class="container" style="margin-top: 100px;    text-align: justify;
    text-justify: inter-word; margin-bottom: 40px;">

    <p><strong>User Privacy Statement</strong></p>
    <p>This privacy statement addresses the personally identifiable information (<strong>&ldquo;data&rdquo;</strong>) that we collect and process about users of our services (<strong>&ldquo;you&rdquo;</strong>&nbsp;or&nbsp;<strong>&ldquo;your&rdquo;</strong>).&nbsp;<strong>&ldquo;Services&rdquo;</strong>&nbsp;means any services that we offer, including visitors to our website.</p>
    <ol>
        <li><strong> General</strong></li>
    </ol>
    <p>1.1. This Privacy Statement explains how we collect, process, and use data about you. This Privacy Statement applies to all users, including those users who use the Services via their employer or another company. This Privacy Statement also applies to all of the data that we collect through our Services, irrespective of the type of Services or the device you use to access the Services.</p>
    <ol start="2">
        <li><strong> Collection</strong></li>
    </ol>
    <p>2.1. The data we collect about you depends on the Services that you use (and how you use them). For example, if you are the primary account holder for your company and use Analytics, the data we collect about you would be different than the data that we collect about a user who has view-only access to Analytics. The remainder of this section sets out the categories of data we collect depending on your use of our Services.</p>
    <p>2.2. If you register as a user of any of our Services, we may ask you to provide your name, email address, contact telephone number (landline and/or mobile), the company you work for, your address, a username and password, and other data relevant to the Services we provide. If you are not an administrative user for your account, the same data about you may be provided by a colleague or other third party. We may also collect other data directly from you, from time to time.</p>
    <p>2.3. Depending on your account type, we may collect payment data from you in order to take payment for our Services.</p>
    <p>2.4. If you contact our support services, we will collect the data we need to categorize your question and respond to it. We also use this data to track potential issues with our Services and customize our support responses to better serve you.</p>
    <p>2.5. We collect data about you when you use any part of our Services. For example, if you are logged in to your Analytics account, we will collect data as to how often you use Analytics, what queries you created or amended, and other data about how you interact with Analytics. We may also collect data about how you interact with messages we send to you, for example whether you opened an email or read an in-app message.</p>
    <p>2.6. We collect data about the device you use to use our Services, including operating system details, web browser type, your mobile device identifier and mobile operating system, and the name of your ISP or mobile carrier. We may also collect your location data if your device permits this.</p>
    <p>2.7. We also infer data about you based on the data you have provided or made available to us. This may include personalizing your experience of using our Services, suggesting different Services you may be interested in trying, or other inferences about you.</p>
    <p>2.8. We are constantly trying to improve our Services to you. This means that we are introducing new features of our Services regularly, some of which may result in the collection of new data from you.</p>
    <p>2.9. We will indicate where any personal information we have requested is mandatory or optional. We will also explain the consequences should you decide not to provide information which we have indicated is mandatory. In some circumstances this may mean we are unable to provide you with a certain service or product.</p>
    <ol start="3">
        <li><strong> Using your data</strong></li>
    </ol>
    <p>3.1. The legal basis for our processing of data about you is generally pursuant to our &ldquo;legitimate interests&rdquo;. Our legitimate interests are in providing our Services to our customers, which includes providing technology that empowers our customers to act with more certainty in a way that is easy-to-access and use. However, the legal basis for our processing of data may also be where we have your consent (for example where consent is required to send certain marketing communications) or where the processing is necessary for compliance with our legal obligations (for example where we receive requests from regulatory authorities).</p>
    <p>3.2. We combine data about you across our different Services. We use data and content that you and other users provide or make available to us to provide the Services to you and our other customers. We also use data to conduct research and development for the improvement of our Services so that we can provide all of our users with a better experience.</p>
    <p>3.3. We communicate with you in writing, via email, or other means available on or through the Services (for example, via messaging in Analytics or push notifications if you use a mobile application). We may communicate transactional or service messages to you, such as welcoming you to our Services or informing you of scheduled downtime. We may also send you marketing communications, on our own behalf or on the behalf of third parties. Marketing communications may be sent to you, even if you do not have an account, if you have indicated to us that you wanted to receive such communication. In respect of marketing communications, you can opt out of receiving future communications in the footer of each email we send to you. You cannot opt out of receiving transaction or service messages from us.</p>
    <p>3.4. We do not use your personal data to engage in automated decision making about you.</p>
    <ol start="4">
        <li><strong> Sharing your data</strong></li>
    </ol>
    <p>4.1. We share data with our affiliates (meaning legal entities controlled by, controlling, or under common control with us) as reasonably necessary to provide the Services.</p>
    <p>4.2. We may share your data with selected third parties, including our business partners, suppliers, and sub-contractors, for the performance of any contract we enter into with them. We may also share your data with analytics and search engine providers that assist us in the improvement of our website.</p>
    <p>4.3. We may also disclose your data to other third parties. For example, if we sell or buy any business or assets, we may disclose your data to the prospective seller or buyer of such business or assets. Alternatively, if we or substantially all of our assets are acquired by a third party, your data may be part of the transferred assets.</p>
    <p>4.4. If any third party processes any of your data, we ensure there are sufficient contractual and operational safeguards protecting your data.</p>
    <ol start="5">
        <li><strong> Accuracy, retention, security, and your rights</strong></li>
    </ol>
    <p>5.1. We will retain data about you for as long as it is reasonably necessary for us to provide the Services. We anonymize any data about you as soon as it is reasonably practical, once you no longer use our Services.</p>
    <p>5.2. The servers that store your data have appropriate administrative, technical, and physical controls that are designed to safeguard your data.</p>
    <p>5.3. You have a number of legal rights in your data under applicable data privacy law. Under applicable law you may:</p>
    <ol>
        <li>request access to the data that we have about you and request that it be updated, rectified, deleted, or blocked;</li>
        <li>request that we refrain from further use of any data we hold about you;</li>
        <li>if we ever process your data based on your consent, to revoke your consent at any time, where relevant; or</li>
        <li>request to receive a machine-readable copy of the data have provided to us.</li>
    </ol>
    <p>5.4. Please note that we cannot always delete records of all historical data. For example, we are required to retain certain records for financial reporting and compliance reasons.</p>
    <ol start="6">
        <li><strong> Privacy practices of third parties</strong></li>
    </ol>
    <p>6.1. This Privacy Statement only addresses our collection, processing and use (including disclosure) of your personal data. Our customers and other third parties may have access to your personal data and use it in other ways in accordance with their own privacy practices. We encourage you to familiarize yourself with the privacy statements provided by any platform you use to publish any data.</p>
    <ol start="7">
        <li><strong> Governing law and jurisdiction</strong></li>
    </ol>
    <p>7.1. English law governs this privacy statement and any dispute or claim related to it. Each party agrees that the English courts have exclusive jurisdiction over this privacy statement and any dispute or claim related to it.</p>
    <p><strong>Last Updated 9 September 2018</strong></p>
    <p>&nbsp;</p>
</div>

        <!--================Footer Area =================-->
        <footer class="pink_footer">
            <div class="pink_footer_wedget_area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1 col-xs-6">
                            <aside class="f_widget p_menu_widget">
                                <div class="p_f_w_title">
                                    <h3>Resources</h3>
                                </div>
                                <ul>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#features">Features</a></li>
                                    <li><a href="#screenshot">Look in Dashboard</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Case studies</a></li>
                                    <li><a href="#">Guides</a></li>
                                    
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-2 col-md-offset-1 col-xs-6">
                            <aside class="f_widget p_support_widget">
                                <div class="p_f_w_title">
                                    <h3>Company</h3>
                                </div>
                                <ul>
                                    
                                    <li><a href="#">Help & Support</a></li>
                                    <li><a href="#">Getting Started FAQ</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="{% url 'TermsConditions' %}">Terms and Conditions</a></li>
                                    <li><a href="{% url 'UserPrivacyPolicy' %}">User Privacy Policy</a></li>
                                    <li><a href="{% url 'AuthorPrivacyPolicy' %}">Author privacy policy</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-3 col-md-offset-1 col-xs-6">
                            <aside class="f_widget p_contact_widget">
                                <div class="p_f_w_title">
                                    <h3>Contact information</h3>
                                </div>
                                <ul class="contact_info">
                                    <li>Phone  :<a href="#"> +92 335 1758820</a></li>
                                    <!-- <li>E-mail  :<a href="#"> <span class="__cf_email__" data-cfemail="b4d1ccd5d9c4d8d19a868485f4d0dbd9d5ddda9ad7dbd9">[email&#160;protected]</span></a></li> -->
                                    <li>Address  :<a href="#"> H12, <span>Islamabad, Pakistan</span></a></li>
                                </ul>
                                <ul class="pink_social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="pink_copyright">
                <div class="container">
                    <div class="pull-left">
                        <a href="#"><img src="img/dash-logo.png" alt="" width="80px" height="50px"></a>
                    </div>
                    <div class="pull-right">
                    </div>
                </div>
            </div> -->
        </footer>
        <!--================End Footer Area =================-->
        
               
        
        
        
        
        
        
        
        
       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script src="{% static 'js/jquery-2.2.4.js' %}"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="{% static 'js/bootstrap.min.js' %}"></script>
       <!-- Rev slider js -->
        
       <script src="{% static 'js/theme.js' %}"></script>

 
    </body>

</html>